:root {
  --light-color: #fff;
  --dark-color: #282828;
  --header-height: 70px;
  --search-height: 60px;
  --border-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--light-color);
  overflow: hidden;
}

.container {
  text-align: center;
  height: calc(100vh - var(--header-height));
}

header {
  height: var(--header-height);
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--light-color);
  gap: 15px;
  padding-right: 60px;
}

header img {
  filter: invert(1);
  height: 20px;
  width: 30px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--search-height);
  gap: 20px;
  box-shadow: 0px 2px 8px 0px var(--border-color);
}

.search input[type="text"] {
  padding: 8px 10px;
  line-height: 1.5;
  font-size: 1rem;
  border: none;
  border: 2px solid var(--border-color);
  outline: none;
  transition: all 200ms ease-in-out;
  width: 40%;
  border-radius: 10px;
}

.search input[type="text"]:focus {
  width: 55%;
}

.btn {
  padding: 8px 10px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #007bff;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background: #007bff;
}

#recipe_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: calc(100vh - (var(--header-height) + var(--search-height) + 20px));
  overflow-y: auto;
  gap: 20px;
  padding: 10px;
}

.recipe {
  width: 300px;
  padding: 8px;
  box-shadow: 0px 0px 8px 2px var(--border-color);
  transition: transform 0.4s ease, margin-bottom 0.4s ease;
  background: white;
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.recipe:hover {
  transform: translateY(4px);
  margin-bottom: 120px;
}

.recipe_title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe_img {
  height: 210px;
}

.recipe_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe_text {
  width: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  background: #ccc;
  margin-top: 10px;
  padding: 0 10px;
}

.recipe:hover .recipe_text {
  max-height: 150px;
  opacity: 1;
  padding: 10px;
  overflow: scroll;
}

.recipe_text ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  padding: 5px;
  margin: 0;
}

.recipe_text ul > li {
  padding: 5px;
}
::selection{
    color: var(--light-color);
    background: rgb(23,151,23);
}

@media only screen and (max-width: 700px){
    body{
        background: rgb(54,194,54);
    }
    .recipe{
        background: var(--light-color);
        box-shadow: 0px 0px 10px 2px var(--dark-color);
        width: 350px;
    }
    input[type="text"]{
        background: transparent;
        color:var(--light-color)
    }
    .btn{
        background: var(--light-color);
        color: var(--light-color);
    }
}